*.DS_Store
/dist/
node_modules
binaries

/media/*
!/media/default/

/media/default/*
!/media/default/palette/

/nwjs/build
/nwjs/cache
*npm-debug.log
options.json

/docs/*

*.DS_Store
/old/dist/
/oldnode_modules
/oldbinaries

/old/media/*
!/old/media/default/

/old/media/default/*
!/old/media/default/palette/

/old/nwjs/build
/old/nwjs/cache
/old/options.json

/old/docs/*

dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log