@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700|Esteban);
@import url(http://yui.yahooapis.com/pure/0.5.0/pure-min.css);

html, body {
	height: 100%;
}

body {
    background-color: #2C468C;
}

body > div {
    background-color: #F1F1F2;
    margin: 5px;
    border: 2px #00ADEF solid;
    border-radius: 2px;
}

body > div > header {
    height: auto;
    font-size: 28px; padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px #00ADEF solid;
    position: relative;
}

body > div > div {
    box-sizing: border-box;
    padding: 5px 10px;
    border-bottom: 2px solid #D1D3D4;
}

div.mover {
    position: absolute;
    right: 4px;
    top: 4px;
    background: red;
    height: 40px;
    width: 40px;
}

label.filedrop {
    border: 2px solid rgb(255, 136, 0); box-sizing: border-box; padding: 5px;
    background-color: rgb(249, 192, 127);
}

label.filedrop img {
    width: 100%;
    max-height: 60px;
}

div.palette div.swatch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px #aaa solid;
}

div.palette div.swatch ~ div.swatch {
    border-left: none;
}