<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>modV</title>
	<link rel="stylesheet" href="style.css">
</head>
	<body>
		<canvas></canvas>

		<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
		<script src="./libraries/meyda.min.js"></script>
		<script src="./libraries/beatdetektor.js"></script>
		<script src="app.js"></script>

		<!-- modV modules load -->
		<!-- between these tags -->

		<script>
			var modV = new modV({
				canvas: document.querySelector('canvas'),
				clearing: false,
				remote: 'ws://localhost:8888/ws'
			});

			modV.registerMod(slipNslide);
			modV.registerMod(relapper);
			modV.registerMod(gridStretch);
			modV.registerMod(textMod);
			modV.registerMod(textModPalette);
			modV.registerMod(mirror);
			modV.registerMod(waveform);
			modV.registerMod(concentrics);
			modV.registerMod(xorcles);
			modV.registerMod(stretch);
			modV.registerMod(cacomixle);
			modV.registerMod(moonLine);
			modV.registerMod(tile);
			modV.registerMod(pixelate);
			modV.registerMod(rotate);
			modV.registerMod(dither);
			modV.registerMod(ball);
			modV.registerMod(glitcher);
			modV.registerMod(onOff);
			modV.registerMod(starField);
			modV.registerMod(badHold);
			modV.registerMod(slide);
			modV.registerMod(rotoZoom);
			modV.registerMod(staticImage);
			modV.registerMod(tenPrint);
			modV.registerMod(webcam);
			modV.registerMod(video);
			modV.registerMod(circles);
			modV.registerMod(spazulator5000);
			modV.registerMod(perl);
			modV.start();
		</script>
	</body>
</html>