<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>modV</title>
	<link rel="stylesheet" href="style.css">
</head>
	<body>
		<canvas></canvas>

		<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
		<script src="./libraries/meyda.min.js"></script>
		<script src="./libraries/beatdetektor.js"></script>
		<script src="app.js"></script>

		<!-- modV modules load -->
		<!-- between these tags -->

		<script>
			var modVC = new modV({
				canvas: document.querySelector('canvas'),
				clearing: false,
				//remote: 'ws://localhost:8888/ws',
				previewWindow: false,
				retina: false
			});

			modVC.registerMod(demo);
			modVC.registerMod(slipNslide);
			modVC.registerMod(relapper);
			modVC.registerMod(gridStretch);
			modVC.registerMod(textMod);
			modVC.registerMod(textModPalette);
			modVC.registerMod(mirror);
			modVC.registerMod(waveform);
			modVC.registerMod(concentrics);
			modVC.registerMod(squares);
			modVC.registerMod(xorcles);
			modVC.registerMod(stretch);
			modVC.registerMod(cacomixle);
			modVC.registerMod(moonLine);
			modVC.registerMod(tile);
			modVC.registerMod(pixelate);
			modVC.registerMod(rotate);
			modVC.registerMod(dither);
			modVC.registerMod(ball);
			modVC.registerMod(glitcher);
			modVC.registerMod(onOff);
			modVC.registerMod(starField);
			// modVC.registerMod(strobe);
			modVC.registerMod(badHold);
			modVC.registerMod(slide);
			modVC.registerMod(rotoZoom);
			modVC.registerMod(staticImage);
			modVC.registerMod(tenPrint);
			modVC.registerMod(webcam);
			modVC.registerMod(video);
			modVC.registerMod(circles);
			modVC.registerMod(spazulator5000);
			modVC.registerMod(perl);
			modVC.start();
		</script>
	</body>
</html>