<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>modV</title>
	<link rel="stylesheet"	href="./libraries/pure/pure-min.css">
	<link rel="stylesheet"	href="./libraries/pure/grids-responsive-min.css">
	<link rel="stylesheet"	href="./libraries/font-awesome.min.css">
	<link rel="stylesheet"	href="./libraries/simplebar/simplebar.css">
	<link rel="stylesheet"	href="style.css">
	<link rel="import"	href="templates.html">
</head>
	<body>

		<section>
			<div class="top">
				<div class="pure-g">
					<div class="active-list-wrapper simplebar"> <!-- pure-u-1-5 -->
						<div class="simplebar-scroll-content">
							<div class=" simplebar-content">
								<div class="left-top active-list pure-g">

								</div>
							</div>
						</div>

						<div class="layer-menu">
							<div class="icon add-layer">
								<span class="ibvf"></span>
								<i class="fa fa-plus" aria-hidden="true"></i>
							</div>
							<div class="icon trash-layer">
								<span class="ibvf"></span>
								<i class="fa fa-trash" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="gallery-wrapper" data-simplebar-direction="vertical"> <!-- pure-u-4-5 -->
					
						<div class="right-top gallery pure-g">

						</div>

					</div>
				</div>
			</div>

			<div class="bottom">

				<div class="pure-g">

					<div class="pure-u-1-3"  data-simplebar-direction="vertical">
						<div class="control-panel-wrapper pure-g"></div>
					</div>

					<div class="pure-u-1-3" data-simplebar-direction="vertical">
						<div class="global-control-panel-wrapper pure-g">
							
						</div>
					</div>

					<div class="canvas-preview pure-u-1-3">
						
					</div>

				</div>

			</div>

		</section>

		<div id="temp" style="display:none;"></div>
		<% if (nwjs) { %>
		<script src="nwjs-include.js"></script>
		<% } %>
		<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
		<script src="./libraries/jquery-2.2.1.min.js"></script>
		<script src="./libraries/simplebar/simplebar.min.js"></script>
		<script src="./libraries/Sortable.js"></script>
		<script src="./libraries/three.js"></script>
		<script src="./libraries/meyda.js"></script>
		<script src="./libraries/beatdetektor.js"></script>
		<script src="./libraries/Math.min.js"></script>
		<script src="./libraries/rangeRanger.js"></script>
		<script src="app.js"></script>

		<script>
			function swapElements(obj1, obj2) { //jshint ignore: line
				// save the location of obj2
				var parent2 = obj2.parentNode;
				var next2 = obj2.nextSibling;
				// special case for obj1 is the next sibling of obj2
				if (next2 === obj1) {
					// just put obj1 before obj2
					parent2.insertBefore(obj1, obj2);
				} else {
					// insert obj2 right before obj1
					obj1.parentNode.insertBefore(obj2, obj1);

					// now insert obj1 where obj2 was
					if (next2) {
						// if there was an element after obj2, then insert obj1 right before that
						parent2.insertBefore(obj1, next2);
					} else {
						// otherwise, just append as last child
						parent2.appendChild(obj1);
					}
				}
			}
		</script>

		<!-- modV modules load -->
		<!-- between these tags -->

		<script>
			var modV = new modV({ //jshint ignore:line
				canvas: document.querySelector('canvas'),
				clearing: false,
				retina: true,
				headless: false,
				remote: {
					use: true
				}
			});

			modV.start();
		</script>
		<script src="./modules/Waveform.js"></script>
		<script src="./modules/Polygon.js"></script>
		<script src="./modules/Concentrics.js"></script>
		<script src="./modules/Ball.js"></script>
		<script src="./modules/Text.js"></script>
		<script src="./modules/Xorcles.js"></script>
		<script src="./modules/Perl.js"></script>
		<script src="./modules/TenPrint.js"></script>
		<script src="./modules/StaticImage.js"></script>
		<script src="./modules/Video.js"></script>
		<script src="./modules/Webcam.js"></script>
		<script src="./modules/Giphy.js"></script>
		<script src="./modules/KickDemo.js"></script>
		<script src="./modules/SolidColor.js"></script>
		<script src="./modules/Glitch.js"></script>
		
		<script src="./modules/Tile.js"></script>
		<script src="./modules/GridStretchNew.js"></script>
		<script src="./modules/SlipNSlide.js"></script>
		<script src="./modules/Relapper.js"></script>
		<script src="./modules/Slide.js"></script>
		<script src="./modules/RotoZoom.js"></script>
		<script src="./modules/Pixelate.js"></script>

		<script src="./modules/ChrAbberation.js"></script>
		<script src="./modules/Puke.js"></script>
		<script src="./modules/Bulge.js"></script>
		<script src="./modules/Pinch.js"></script>
		<script src="./modules/Tangent.js"></script>
		<script src="./modules/Ripple.js"></script>
		<script src="./modules/Dither.js"></script>
		<script src="./modules/Mirror.js"></script>
		<script src="./modules/Kaleidoscope.js"></script>
		<script src="./modules/Plasma.js"></script>
		<script src="./modules/MattiasCRT.js"></script>

		<script src="./modules/3D.js"></script>
	</body>
</html>