html, body {
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
}

body {
	position: relative;
	margin: 0;
}

.ibvf {
	width: 0;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

h1,
.title {
	letter-spacing: -2px;
}

/* cursor classes */
.ns-resize {
	cursor: ns-resize;
}

.ew-resize {
	cursor: ew-resize;
}

section {
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

section > .pure-g {
	height: 100%;
}

section .top {
	height: 75%;
	max-height: calc(100% - 170px);
	min-height: 170px;
}

section .top > .pure-g {
	height: 100%;
}

section .top .active-list {
	min-height: 100%;
	box-sizing: border-box;
	position: relative;
	background-color: hsla(70,8%,4%,1);
	padding: 0 0 33px 0;
}

.active-list-wrapper .simplebar-track {
	bottom: 23px;
}

.active-list .gallery-item.sortable-ghost {
	height: 115px;
	width: 100%;
	overflow: hidden;
}
.active-list .gallery-item.sortable-ghost canvas {
	height: auto;
	position: relative;
	top: -10%;
}
section .top .active-list-wrapper:before {
	position: absolute;
	top: 50%;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 2em;
	color: rgba(210, 210, 210, 0.8);
	text-shadow: 1px 4px 6px #fff, 0 0 0 #000, 1px 4px 6px #fff;
	opacity: 0.7;
	pointer-events: none;
	content: 'Drag Modules Here';
}

section .top .active-list-wrapper {
	min-width: 306px;
}

section .top .active-list-wrapper,
.simplebar-content {
	height: 100%;
}

section .top .gallery {
	min-width: 600px;
	overflow: hidden;
	padding: 5pt;
	box-sizing: border-box;
	background-color: rgb(56, 56, 56);
}

.gallery-item {
	position: relative;
	overflow: hidden;
	padding: 5pt;
	box-sizing: border-box;
}

.gallery-item .title-wrapper {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	pointer-events: none;
	transition: all 300ms;
	font-size: 0;
    margin: 5pt;
}

.gallery-item .title-wrapper .title {
	color: #fff;
	vertical-align: middle;
	transition: all 300ms;
	font-size: 18px;
	letter-spacing: -1px;
}

.gallery .gallery-item:hover .title-wrapper {
	background-color: rgba(0,0,0,0);
}

.gallery .gallery-item:hover .title {
	color: rgba(255,255,255,0);
}

.gallery .gallery-item canvas {
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.8);
}

.active-list .gallery-item.sortable-ghost {
	padding: 0;
}


.active-list .gallery-item.sortable-ghost .title {
	position: absolute;
	top: 8px;
	left: 8px;
	font-size: 25.6px;
	letter-spacing: -2px;
}

.active-list .gallery-item.sortable-ghost .title-wrapper {
	background-color: rgba(0,0,0,0);
	margin: 0pt;
}

.top > .pure-g {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	width: 100%;
}

.gallery-wrapper {
	flex: 1;
	position: relative;
	min-width: 306px;
}

section .bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 25%;
	max-height: calc(100% - 170px);
	min-height: 170px;
	box-sizing: border-box;
	box-shadow: 0px 2px 10px -1px black;
}

section .bottom > .pure-g,
section .bottom > .pure-g > div {
	height: 100%;
}

section .bottom .control-panel-wrapper,
section .bottom .control-panel-wrapper .control-panel {
/*	height: 100%;
*/}

section .bottom .control-panel-wrapper .control-panel {
	display: none;
}

section .bottom .control-panel-wrapper .control-panel.show {
	display: block;
}

section .bottom .control-panel-wrapper {
	/*padding: 8px;*/
	box-sizing: border-box;
}

.control-panel .control-group {
	padding: 8px 0;
	border-bottom: 1px solid;
	box-sizing: border-box;
}

.bottom > .pure-g .pure-u-1-3:nth-of-type(1) {
	border-right: 1px solid;
	box-sizing: border-box;
}

.control-group > label {
	display: inline-block;
	min-width: 70px;
	vertical-align: middle;
}

.control-group > div {
	display: inline-block;
	vertical-align: middle;
}

.control-panel .control-group,
.right-controls .control-group {
	padding: 12px 8px;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	box-sizing: border-box;
}

.control-panel-wrapper h1,
.control-panel-wrapper h2 {
	padding: 0 8px;
}

.right-controls h1:first-of-type {
	margin: 0 0 .67em 0;
}

section .bottom .control-group > label {
	width: 120px;
}

.canvas-preview {
	position: relative;
}

canvas {
	background-color: #000;
	width: 100%;
	height: 100%;
}

.active-item {
	background-color: #222;
	box-sizing: border-box;
	border-bottom: 1px #333 solid;
	color: #fff;
	display: inline-block;
	max-height: 115px;
	padding: 8px;
	transition: background 150ms;
	position: relative;
}

.active-item:nth-child(even) {
	background-color: #000;
}

.active-item.current {
	background-color: aliceblue;
	color: black;
	z-index: 100;
}

.active-item.chosen {
	animation-duration: 700ms;
	animation-name: chosen;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.active-item.chosen.deletable {
	animation-name: chosen-deletable;
}

@keyframes chosen {
	from {
		background-color: aliceblue;
	}

	to {
		background-color: lime;
	}
}

@keyframes chosen-deletable {
	from {
		background-color: aliceblue;
	}

	to {
		background-color: red;
	}
}

.active-item .title {
	font-size: 1.6em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.active-item .options label {
	font-size: 0.8em;
}

.active-item .handle-container {
	text-align: right;
}

.active-item .handle-container .handle {
/*	width: 60px;
	height: 60px;*/
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

select.composite-operations:hover {
	height: 68px;
}

select.composite-operations {
	color: #000;
	height: 18px;
	transition: height 300ms;
}

/* Palette Control */
div.palette div.swatch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px #aaa solid;
}

div.palette div.swatch ~ div.swatch {
	border-left: none;
}

/* Range styles */
input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	/*width: 100%;*/
	background-color: transparent;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	/*width: 100%;*/
	height: 12px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: grey;
	border-radius: 25px;
	transition: background 300ms;
	padding: 0;
	margin: 0;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.6);
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
	transition: all 100ms;
}

input[type=range]:active::-webkit-slider-runnable-track {
	background: orange;
}

input[type=range]:active::-webkit-slider-thumb  {
	height: 24px;
	width: 24px;
	margin-top: -6px;
/*	margin-left: -3px;
*/}

input[disabled][type="range"]::-webkit-slider-thumb,
input[disabled][type="range"]::-webkit-slider-runnable-track{
	cursor: not-allowed;
	background-color: #F3F3F3;/*#FF8600;*/
}

/* Checkbox styles */
.customCheckbox {
	width: 20px;
	height: 20px;
	position: relative;
	display: inline-block;
	/* margin: 20px auto; */
}
.customCheckbox label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom, #222222 0%, #45484d 100%);
	border-radius: 4px;
	/*box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);*/
	transition: all 50ms;
}

.customCheckbox input[type=checkbox]:checked + label {
	background-image: linear-gradient(to bottom, orange 0%, orange 100%);
}

.customCheckbox label:after {
	content: '';
	width: 9px;
	height: 5px;
	position: absolute;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
		  transform: rotate(-45deg);
	transition: all 50ms;
}
.customCheckbox input[type=checkbox] + label:hover::after {
	opacity: 0.3;
}
.customCheckbox input[type=checkbox] {
	visibility: hidden;
}
.customCheckbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/* Context Menu */
.context-menu {
	position: fixed;
	/*width: 218px;*/
	background-color: rgba(226, 226, 226, 0.8);
	color: black;
	box-shadow: 0px 0px 1px 0px black, 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	padding: 5px 0;
	border-radius: 4px;
}

.context-menu-submenu {
	position: absolute;
}

.context-menu-item {
	padding: 2px 20px;
	box-sizing: border-box;
	cursor: default;
	position: relative;
	font-size: 11pt;
}

.context-menu-item:hover {
	background-color: #0088FF;
	color: #fff;
}

.context-menu-item.disabled {
	color: darkgray;
}

.context-menu-item.disabled:hover {
	background-color: transparent;
}

/* layer item */
.layer-item {
	width: 100%;
	min-height: 115px;
	height: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	background-color: hsla(70,0%,22%,1);
}

.layer-item .module-list {
	display: block;
	min-height: 115px;
	position: relative;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.layer-item .module-list:before {
	position: absolute;
	top: 35%;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 2em;
	color: rgb(49, 49, 49);
	text-shadow: 1px 1px rgba(138, 138, 138, 0.34), -1px -1px #0e0e0e;
	opacity: 0.7;
	pointer-events: none;
	content: 'Drag Modules Here';
	letter-spacing: -0.008em;
}

.layer-item .control-bar {
	letter-spacing: 0px;
	padding: 2px 2px;
	height: 18px;
	position: relative;
	color: #fff;
}

.layer-item .title {
	display: inline-block;
	min-width: 100px;
}

.layer-item .title.editable {
	cursor: text;
}

.layer-item.active {
	background-color: hsla(199,92%,92%,1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.layer-item.active .control-bar {
	color: #000;
}

.layer-item.active .module-list {
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.layer-item.active .module-list:before {
	color: hsla(199,92%,86%,1);
	text-shadow: 1px 1px hsla(208,100%,100%,1), -1px -1px hsla(208,100%,73%,1);
}

.layer-item .collapse,
.layer-item .lock {
	width: 18px;
	height: 18px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.layer-item.collapsed .module-list {
	height: 0;
	overflow: hidden;
	min-height: 0;
	padding: 0;
	border: none;
}

.layer-item.collapsed {
	min-height: 0;
}

.layer-item .fa-toggle-down {
	display: none;
}

.layer-item.collapsed .fa-toggle-up {
	display: none;
}

.layer-item.collapsed .fa-toggle-down {
	display: block;
	margin: 1px 0 0 0;
}

.layer-item-controls {
	text-align: right;
}

.layer-item.collapsed .module-list {
	height: 0;
	overflow: hidden;
	min-height: 0;
	padding: 0;
	border: none;
}

.layer-item .fa-toggle-down,
.layer-item .fa-lock {
	display: none;
}

.layer-item.locked .fa-unlock-alt {
	display: none;
}

.layer-item.locked .fa-lock {
	display: block;
	margin: 1px 0 0 0;
}

/* layer menu */
.layer-menu {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 33px;
	background-color: hsla(70,0%,22%,1);;
	padding: 5px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.layer-menu .icon {
	height: 22px;
	background-color: #ffa500;
	width: 22px;
	color: #fff;
	font-size: 0;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	vertical-align: middle;
	text-align: center;
}

.layer-menu .icon i.fa {
	font-size: 18px;
	vertical-align: middle;
	letter-spacing: 0;
}

.layer-menu .icon:not(:last-child) {
	margin: 0 5px 0 0;
}

.main-control-area {
	position: relative;
	height: calc(100% - 30px) !important;
}

.right-controls {
	position: relative;
}

.right-controls-panels {
	height: 100%;
	margin: 30px 0 0 0;
}

/* tabs */
.tab-bar {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-sizing: border-box;
	letter-spacing: -.31em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.tab-item {
	display: inline-block;
	height: 30px;
	width: 33.33%;
	background-color: #ce8602;
	box-sizing: border-box;
	padding: 6px;
	letter-spacing: -1px;
	cursor: pointer;
}

.tab-item.selected {
	background-color: orange;
}

/* Resize handles */
resize-handle-top {
	position: absolute;
	width: 100%;

	top: 0;
	left: 0;
	right: 0;
	height: 5px;

	border-top: 1px solid #BBBBBB;
	transition: 50ms;
}

resize-handle-top:hover {
	border-top-width: 5px;
	cursor: ns-resize;
	top: -2px;
}

resize-handle-left {
	position: absolute;
	height: 100%;

	top: 0;
	left: 0;
	bottom: 0;
	width: 5px;

	border-left: 1px solid #BBBBBB;
	transition: 50ms;
}

resize-handle-left:hover {
	border-left-width: 5px;
	cursor: ew-resize;
	left: -2px;
}