html, body {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
}

section {
	height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

section > .pure-g {
	height: 100%;
}

section .top {
	height: 75%;
}

section .top > .pure-g {
	height: 100%;
}

section .top .active-list {
	overflow-x: hidden;
    overflow-y: scroll;
}

section .top .active-list-wrapper,
section .top .active-list {
	height: 100%;
}

section .top .gallery {

}

section .top .pure-u-4-5 {
	position: relative;
	overflow-y: scroll;
}

section .bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 25%;
}

section .bottom > .pure-g,
section .bottom > .pure-g > div {
	height: 100%;
}

section .bottom .control-panel-wrapper,
section .bottom .control-panel-wrapper .control-panel {
	height: 100%;
}

section .bottom .control-panel-wrapper .control-panel {
	display: none;
}

section .bottom .control-panel-wrapper .control-panel.show {
	display: block;
}

.canvas-preview {
	position: relative;
}

canvas {
	background-color: #000;
	width: 100%;
	height: 100%;
}

.active-item {
	background-color: #222;
	box-sizing: border-box;
	border-bottom: 1px #333 solid;
	color: #fff;
	display: inline-block;
	max-height: 100px;
	padding: 8px;
}

.active-item:nth-child(even) {
	background-color: #000;
}

.active-item.chosen {
	background-color: green;
}

.active-item .title {
    font-size: 1.6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active-item .options label {
    display: block;
    font-size: 0.8em;
}

.active-item .handle {
	width: 60px;
	height: 60px;
	background-color: red;
}

select.composite-operations:hover {
    height: 68px;
}

select.composite-operations {
    height: 18px;
    transition: height 300ms;
}