@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,400i,500,500i,600,600i')

body
  font-family 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important

code, kbd, .line-number
  font-family 'IBM Plex Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important
