.lm_goldenlayout {
  background: var(--background-color);
}

.lm_content {
  background: var(--background-color);
  border: 1px solid var(--foreground-color-2);
}

.lm_content .glComponent {
  padding: var(--baseline);
}

.lm_dragProxy .lm_content {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  box-sizing: border-box;
}

.lm_dropTargetIndicator {
  box-shadow: inset 0 0 30px rgba(0,0,0,0.4);
  outline: 1px dashed #cccccc;
  margin: 1px;
  transition: all 200ms ease;
}

.lm_dropTargetIndicator .lm_inner {
  background: #000000;
  opacity: .1;
}

.lm_splitter {
  background: #999999;
  opacity: .001;
  transition: opacity 200ms ease;
}

.lm_splitter:hover,
.lm_splitter.lm_dragging {
  background: #bbbbbb;
  opacity: 1;
}

.lm_header {
  height: 20px;
}

.lm_header.lm_selectable {
  cursor: pointer;
}

.lm_header .lm_tab {
  font-family: inherit;
  font-size: 12px;
  background: var(--foreground-color-3);
  color: var(--foreground-color-2);
  margin-right: 2px;
  padding-bottom: 4px;
  border: 1px solid var(--foreground-color-2);
  border-bottom: none;
  box-shadow: none;
  line-height: initial;
}

.lm_header .lm_tab .lm_title {
  padding-top: 1px;
}

.lm_header .lm_tab .lm_close_tab {
  width: 11px;
  height: 11px;
  background-position: center center;
  background-repeat: no-repeat;
  right: 6px;
  top: 4px;
  opacity: .4;
}

.lm_header .lm_tab .lm_close_tab:hover {
  opacity: 1;
}

.lm_header .lm_tab.lm_active {
  border-bottom: none;
  color: var(--foreground-color);
  background: var(--background-color);
  box-shadow: none;
  padding-bottom: 5px;
}

.lm_header .lm_tab.lm_active .lm_close_tab {
  opacity: 1;
}

.lm_dragProxy.lm_bottom .lm_header .lm_tab.lm_active,
.lm_stack.lm_bottom .lm_header .lm_tab.lm_active {
  box-shadow: none;
}

.lm_selected .lm_header {
  background-color: #452500;
}

.lm_tab:hover,.lm_tab.lm_active {
  background: var(--foreground-color-2);
  color: var(--foreground-color);
}

.lm_header .lm_controls .lm_tabdropdown:before {
  color: #000000;
}

.lm_controls>li {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .4;
  transition: opacity 300ms ease;
}

.lm_controls > li:hover {
  opacity: 1;
}

.lm_transition_indicator {
  background-color: #000000;
  border: 1px dashed #555555;
}

.lm_popin {
  cursor: pointer;
}

.lm_popin .lm_bg {
  background: #000000;
  opacity: .7;
}

.lm_popin .lm_icon {
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .7;
}

.lm_popin:hover .lm_icon {
  opacity: 1;
}
