/* mono */
@font-face {
  font-family: 'iaw-mono';
  font-style:  normal;
  font-weight: 400;
  src: url("../assets/fonts/iaw-mono-Regular.woff2") format("woff2"),
       url("../assets/fonts/iaw-mono-Regular.woff") format("woff");
}
@font-face {
  font-family: 'iaw-mono';
  font-style:  italic;
  font-weight: 400;
  src: url("../assets/fonts/iaw-mono-Italic.woff2") format("woff2"),
       url("../assets/fonts/iaw-mono-Italic.woff") format("woff");
}
@font-face {
  font-family: 'iaw-mono';
  font-style:  normal;
  font-weight: 700;
  src: url("../assets/fonts/iaw-mono-Bold.woff2") format("woff2"),
       url("../assets/fonts/iaw-mono-Bold.woff") format("woff");
}
@font-face {
  font-family: 'iaw-mono';
  font-style:  italic;
  font-weight: 700;
  src: url("../assets/fonts/iaw-mono-BoldItalic.woff2") format("woff2"),
       url("../assets/fonts/iaw-mono-BoldItalic.woff") format("woff");
}
