  .control-panel {
    label {
      font-size: 12px !important;
      letter-spacing: normal;
      text-align: left !important;
      display: inline-block;
      min-width: 70px;
      vertical-align: middle;
    }

    canvas {
      display: inline-block;
      vertical-align: middle;
    }

    div.control {
      display: inline-block;
      vertical-align: middle;
    }

    max-height: 50vh;
  }

  .control-panel .pure-control-group {
    border-bottom: 1px solid #aaa;
  }

  .control-panel {
    height: 100%;
  }

  .pure-control-group {
    margin: 0;
    padding: .5em 8px;

    &:nth-child(odd) {
      background-color: rgba(221, 221, 221, 0.32);
    }

    &:nth-child(even) {
      background-color: rgba(238, 238, 238, 0.22);
    }
  }

  .control-panel .message button.delete {
    &:before {
      content: unset;
    }

    &:after {
      content: unset;
    }

    padding: 0 0.15em;
    color: #fff;
    font-size: 0.8em;

    transform: rotateZ(45deg);
    transition: transform 300ms;
    will-change: transform;

    &.pinned {
      transform: rotateZ(0deg) scale(1.2);
    }
  }

  .control-panel.focused {
    .message-header {
      background-color: aliceblue;
      color: black;
    }
  }

  .message {
    background-color: transparent;
    height: 100%;
    overflow: hidden;

    .message-body {
      background-color: #bdbdbd;
      height: 92% !important;
      padding: 0;
      border: none;
    }
  }

  .control-panel.is-6 {
    padding: 0 0.75rem 0.75rem 0;
  }

  // .control-panel:not(:last-child) {
  //   margin-right: 10px !important;
  // }
