@import "~bulma/sass/utilities/_all";
@import '../fonts/rubik.scss';

$primary: #ffa600;
$primary-invert: findColorInvert($primary);
$family-sans-serif: 'Rubik', sans-serif;
$family-primary: $family-sans-serif; // Use the new sans-serif family

@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "./controlPanel.scss";
@import "./transitions.scss";

html, body {
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

body {
  position: relative;
  margin: 0;
}

.dropdown {
  .background {
    z-index: 1000;
  }

  &.is-active .dropdown-menu {
    z-index: 1100;
  }
}

.ibvf {
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* cursor classes */
.ns-resize {
  cursor: ns-resize;
}

.ew-resize {
  cursor: ew-resize;
}

.gallery-wrapper {
  flex: 1;
  position: relative;
  min-width: 306px;
  background-color: #383838;
}

section .bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 25%;
  max-height: calc(100% - 170px);
  min-height: 170px;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px -1px black;
}

section .bottom > .pure-g,
section .bottom > .pure-g > div {
  height: 100%;
}

section .bottom .control-panel-wrapper,
section .bottom .control-panel-wrapper .control-panel {
  height: 100%;
}

section .bottom .control-panel-wrapper .control-panel {
  // display: none;
}

section .bottom .control-panel-wrapper .control-panel.show {
  display: block;
}

section .bottom .control-panel-wrapper {
  /*padding: 8px;*/
  box-sizing: border-box;
}

.control-panel .control-group {
  padding: 8px 0;
  border-bottom: 1px solid;
  box-sizing: border-box;
}

.bottom > .pure-g .pure-u-1-3:nth-of-type(1) {
  /* border-right: 1px solid; */
  box-sizing: border-box;
}

.control-group > label {
  display: inline-block;
  min-width: 70px;
  vertical-align: middle;
}

.control-group > div {
  display: inline-block;
  vertical-align: middle;
}

.control-panel .control-group,
.right-controls .control-group {
  padding: 12px 8px;
  border-bottom: 1px rgba(0,0,0,0.1) solid;
  box-sizing: border-box;
}

.control-panel-wrapper h1,
.control-panel-wrapper h2 {
  padding: 0 8px;
}

.right-controls h1:first-of-type {
  margin: 0 0 .67em 0;
}

section .bottom .control-group > label {
  width: 120px;
}

canvas {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQoU2NcsWLFfwY0YGhoiC7EwDgUFN68eRPDM+fPn8f0zBBQCABt8S+Qag4H7gAAAABJRU5ErkJggg==) repeat;
  width: 100%;
  height: 100%;
}

/* Range styles */
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  /*width: 100%;*/
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  /*width: 100%;*/
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: grey;
  border-radius: 25px;
  transition: background 300ms;
  padding: 0;
  margin: 0;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.6);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  transition: all 100ms;
}

input[type=range]:active::-webkit-slider-runnable-track {
  background: orange;
}

input[type=range]:active::-webkit-slider-thumb  {
  height: 24px;
  width: 24px;
  margin-top: -6px;
/*  margin-left: -3px;
*/}

input[disabled][type="range"]::-webkit-slider-thumb {
  cursor: not-allowed;
  background-color: #F3F3F3;
  height: 20px;
  width: 20px;
  margin-top: -5px;
}

input[disabled][type="range"]::-webkit-slider-runnable-track {
  cursor: not-allowed;
  background-color: #ddd;
}

/* Checkbox styles */
.customCheckbox {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  /* margin: 20px auto; */
}
.customCheckbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 4px;
  /*box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);*/
  transition: all 50ms;
}

.customCheckbox input[type=checkbox]:checked + label {
  background-image: linear-gradient(to bottom, orange 0%, orange 100%);
}

.customCheckbox label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
  transition: all 50ms;
}
.customCheckbox input[type=checkbox] + label:hover::after {
  opacity: 0.3;
}
.customCheckbox input[type=checkbox] {
  visibility: hidden;
}
.customCheckbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* Context Menu */
.context-menu {
  position: fixed;
  /*width: 218px;*/
  background-color: rgba(226, 226, 226, 0.8);
  color: black;
  box-shadow: 0px 0px 1px 0px black, 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 5px 0;
  border-radius: 4px;
}

.context-menu-submenu {
  position: absolute;
}

.context-menu-item {
  padding: 2px 20px;
  box-sizing: border-box;
  cursor: default;
  position: relative;
  font-size: 11pt;
}

.context-menu-item:hover {
  background-color: #0088FF;
  color: #fff;
}

.context-menu-item.disabled {
  color: darkgray;
}

.context-menu-item.disabled:hover {
  background-color: transparent;
}

.right-controls {
  position: relative;
}

.right-controls-panels {
  height: 100%;
  margin: 30px 0 0 0;
}

/* Resize handles */
.resize-handle-top {
  position: absolute;
  width: 100%;
  max-height: 5px;

  top: 0;
  left: 0;
  right: 0;
  height: 5px;

  border-top: 1px solid #BBBBBB;
  transition: 50ms;
  // z-index: 102;
}

.resize-handle-top:hover {
  border-top-width: 5px;
  cursor: ns-resize;
  top: -2px;
}

.resize-handle-left {
  position: absolute;
  height: 100%;

  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;

  border-left: 1px solid #BBBBBB;
  transition: 50ms;
  // z-index: 102;
}

.resize-handle-left:hover {
  border-left-width: 5px;
  cursor: ew-resize;
  left: -2px;
}

.canvas-preview-output {
  background: rgba(255, 255, 255, .2);
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: background .2s ease;
}

.canvas-preview-output-text {
  display: none;
  padding-right: 5px;
}

.canvas-preview-output:hover .canvas-preview-output-text {
  display: inline;
}

.canvas-preview-output:hover {
  background: rgba(255, 255, 255, .8);
  color: black;
}
